<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platzi-video</title>
</head>
<style>
  /*  p:first-child{
        color: red;
}

p:nth-child(2n){
        color: brown;
}
p:nth-child(2n+1){
        color: blue;
}*/
p::first-letter{
    color: red;
    font-size: 25px;
}
</style>

<body>
    <p>Enamorado 😍 </p>
    <p>😉 Listo</p>
    <p>😊 Alegre</p>
    <p>😳 Asombro</p>
    <p>😒 Molesto</p>
</body>

</html>